# Métricas de desempeño

El dataframe utilizado es sobre Digimons y contiene información sobre todos los Digimon que se pueden capturar o combatir en Cyber Sleuth, todos los movimientos que los Digimon pueden realizar y todas las habilidades de soporte. 

La base de datos se obtuvo de Kaggle:

 - https://www.kaggle.com/datasets/rtatman/digidb

In [1]:
# Importar librerias
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt

In [3]:
# Importar dataframe
df = pd.read_csv(r'C:\Users\tmoli\OneDrive\Documentos\Angel\Maestria\Materias\3. Aprendizaje Automatico\Tarea 8\DigiDB_digimonlist.csv')

df.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

In [4]:
# Renombrar Variables
df = df.rename(columns = {'Lv 50 HP': 'HP',
                          'Lv50 SP': 'SP',
                          'Lv50 Atk': 'Atk',
                          'Lv50 Def': 'Def',
                          'Lv50 Int': 'Int',
                          'Lv50 Spd': 'Spd'})
#Agregar columna que incluye el nivel del digimon
df['Level'] = 50

df.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd,Level
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95,50
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68,50
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75,50
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61,50
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86,50

In [5]:
#Transformar variables categoricas de texto a numero
df['Stage_N'], _ = pd.factorize(df['Stage'])
df['Type_N'], _ = pd.factorize(df['Type'])
df['Attribute_N'], _ = pd.factorize(df['Attribute'])

df.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd,Level,Stage_N,Type_N,Attribute_N
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95,50,0,0,0
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68,50,0,0,0
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75,50,0,0,0
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61,50,0,0,0
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86,50,0,0,0

In [6]:
#Filtrar BD para aplicar modelo
df_m = df[['Number', 'Memory', 'Equip Slots', 'HP', 'SP', 'Atk', 'Def', 'Int', 'Spd', 'Type_N', 'Stage_N', 'Attribute_N', 'Level']]

df_m.head()

,Number,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd,Type_N,Stage_N,Attribute_N,Level
0,1,2,0,590,77,79,69,68,95,0,0,0,50
1,2,2,0,950,62,76,76,69,68,0,0,0,50
2,3,2,0,870,50,97,87,50,75,0,0,0,50
3,4,2,0,690,68,77,95,76,61,0,0,0,50
4,5,2,0,540,98,54,59,95,86,0,0,0,50

Modelo

In [7]:
# Datos entrenamiento y prueba
X = df[['Memory', 'Equip Slots', 'HP', 'SP', 'Def', 'Int', 'Spd', 'Type_N', 'Stage_N', 'Attribute_N', 'Level']]
y = df['Atk']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Modelo de Regresión Lineal Múltiple
model = LinearRegression()
model.fit(X_train, y_train)

# Predicciones
y_pred = model.predict(X_test)

# Métricas de evaluación
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mape = np.mean(np.abs((y_test - y_pred) / y_test)) * 100

print(f'Mean Squared Error (MSE): {mse:.4f}')
print(f'Root Mean Squared Error (RMSE): {rmse:.4f}')
print(f'R-squared (R^2): {r2:.4f}')
print(f'Mean Absolute Error (MAE): {mae:.4f}')
print(f'Mean Absolute Percentage Error (MAPE): {mape:.4f}%')

Mean Squared Error (MSE): 145.9964
Root Mean Squared Error (RMSE): 12.0829
R-squared (R^2): 0.9296
Mean Absolute Error (MAE): 9.7661
Mean Absolute Percentage Error (MAPE): 8.5070%